@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.box-common {
  border: 1px solid #333;
  padding: 1rem;
  color: #00ff00;
  background: #fff; }

.center {
  text-align: center; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.link {
  color: #fff;
  text-decoration: none; }
  .link:hover {
    color: red;
    text-decoration: underline; }

.box-common {
  border: 1px solid #333;
  padding: 1rem;
  color: #00ff00;
  background: #fff; }

.sidebar-nav {
  font-family: "Open Sans", sans-serif; }
  @media only screen and (min-width: 1024px) {
    .sidebar-nav {
      padding: 2rem; } }
  @media only screen and (min-width: 1024px) {
    .sidebar-nav ul {
      display: flex;
      justify-content: flex-end; } }
  .sidebar-nav .sidebar-link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #666; }
    @media only screen and (min-width: 1024px) {
      .sidebar-nav .sidebar-link {
        padding: 0 2rem; } }
    .sidebar-nav .sidebar-link:hover {
      text-decoration: underline;
      color: #333; }

html {
  font-size: 16px; }

.head-main {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  color: #66ff66; }

.stripe, .footer {
  font-family: "Open Sans", sans-serif;
  background: #036;
  color: #999;
  font-size: 1rem;
  padding: 0.8rem; }
  @media only screen and (min-width: 1024px) {
    .stripe, .footer {
      background: red; } }

.footer {
  background: #000;
  height: 1rem; }

.box-common {
  width: 50vw;
  margin: 0 auto;
  background: #036;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }
