.center {
    text-align: center;
}
.left-align{
    text-align: left;
}
.right-align {
    text-align: right;
}

.link {
    color: $white;
    text-decoration: none;
    
    &:hover{
        color: $primary-color;
        text-decoration: underline;
    }
}



