@import './variables';

.sidebar-nav {
    font-family: $opensans;

    @media #{ $desktop } {
        padding: $size-md;
    }

    ul {
        
        @media #{ $desktop } {
            display: flex;
            justify-content: flex-end;
        }
        
    }
    .sidebar-link {
        display: inline-block;
        @media #{ $desktop } {
            padding: 0 $size-md;
        }
        font-size: $size-sm;
        text-decoration: none;
        color: $grey-light;

        &:hover {
            text-decoration: underline;
            color: $grey-dark;
        }
    }

}