@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary-color: purple;

$black: #000;
$grey-dark: #333;
$grey-light: #666;
$grey-lighter: #999;
$white: #fff;
$strip: #036;

$size-xl: 4rem;
$size-lg: 3rem;
$size-md: 2rem;
$size-sm: 1rem;
$size-xs: 0.8rem;


$opensans: 'Open Sans', sans-serif;




