@import './variables';
@import './helpers';
@import './nav';
@import './mixin';


html {
    font-size: 16px;
}



.head-main {
    font-family: $opensans;
    font-size: $size-xl;
    color: $green-lightest;
}




.stripe {
    font-family: $opensans;
    background: $strip;
    color:$grey-lighter;
    font-size: $size-sm;
    padding: $size-xs;

    @media #{ $desktop } {
        background: red;
      }
}

.footer{
    @extend .stripe;
    background: $black;
    height: $size-sm;
}


.box-common {
    @extend %common-box;
    width: 50vw;
    margin: 0 auto;
    background: $strip;
    @include transform(scale(0.5));
}

